{% load static %}
{% block example %}
<br><br>
<section id="portfolio" class="services">
    
    <div class="container">
        <div class="section-title">
            <span>¿Por qué recomendar productos?</span>
            <h2>¿Por qué recomendar productos?</h2>
            <p> Aumenta tus ventas </p>
        </div>        
        <div class="row">
            <div  class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div  class="icon-box">
                <div class="icon"><i class="icofont-dollar"></i></div>
                    <h5 class="title">Aumenta tu ventas</h5>
                    <p  class="description text-justify">
                    Los productos recomendados son una gran forma de aumentar tus ventas. Amazon ha reportado que un 35% de lo que los comnsumidores compran, es a travez de productos recomendados.</p>
            </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
              <div class="icon-box">
                    <div class="icon"><i class="icofont-ui-add"></i></div>
                    <h5 class="title">Ayuda a tus clientes</h5>
                    <p  class="description text-justify">Es dificil para tus clientes encontrar lo que estan buscando entre tantos productos que tienes disponibles. Además, ¿Por que no sugerirle ese tornillito que se le olvido echar a la canasta?</p>
                </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-runner-alt-1"></i></div>
                    <h5 class="title">Compite con los gigantes</h5>
                    <p class="description text-justify">Los gigantes del e-commerce ya usan productos recomendados para potenciar sus ventas. Y tu, ¿ya te subiste al carro?</p>
                </div>
            </div>
        </div>
</section>
<!--
<section id="counts" class="counts">
    <div class="container">
        <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">21</span><span>%</span>
                <p>Alibaba Increase Revenue</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">200</span>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">200</span>
            </div>
            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">200</span>
            </div>
        </div>
    </div>
</section>
-->
{% endblock %}