{% load static %}
{% block hero %}
<br><br>
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 class="c-heading-1"> Vende más en tu eCommerce con 
                    <span class="is--bold is--green c-heading-1">Inteligencia Artificial</span>
                    <span class="c-heading-1 is--bold is--green"></span>
                </h1> 
                <p class="c-paragraph is--large"> Nuestro algoritmo aprende de tu data histórica para recomendar a tus clientes productos similares y complementarios generando un
                    <span class="c-paragraph is--large is--bold">ingreso por venta extra.</span>
                    <span class="is--bold is--large c-paragraph"></span>
                </p>
                {% if has_submitted %}
                <h2>¡Gracias! Estaremos en contacto pronto.</h2>
                {% else %}
                <br>
                <div class="d-flex">
                    <a href="#contact" class="btn-get-started scrollto">Habla con nuestro Equipo</a>
                    <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>-->
                </div>
                    {% endif %}                     
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">   
                <img src="{% static 'img/cactus.svg' %}"  class="img-fluid animated" alt="">
            </div>
            
        </div>
        <div class="row">
            <!--<div id="countdown"></div>-->
        </div>
    </div>
</section>
{% endblock %}