{% load static %}
{% block portfolio %}
<section id="portfolio" class="portfolio section-bg">
    <div class="container">
    
    <div class="section-title">
    <span>Ejemplo</span>
    <h2>Ejemplo</h2>
    <p>Pone el mouse sobre los productos y click en más para ver los recomendados de cada producto</p>
    </div>
    

      <div class="row portfolio-container">
        {% for prod in recommendedProducts %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="{% static prod.img_name %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                    <h4>{{ prod.name }}</h4>
                    <p></p>
                    <a class="preview-link" data-toggle="collapse" href="#collapse{{ prod.code }}" role="button"   aria-expanded="false" aria-controls="collapse{{ prod.code }}" title="{{ prod.name }}"><i class="bx bx-plus"></i></a>
                    <!--<a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>-->
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Portfolio Section -->
  
{% for prod in recommendedProducts %}
    <section class="portfolio collapse cta" id="collapse{{ prod.code }}">
        <div class="container">
            <h4 class="row">Productos similares</h4>
            <div class="row">
                {% for prod_rec in prod.similar_products %} 
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <img src="{% static prod_rec.img_name %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4 class="card-title">Producto {{ forloop.counter }}: <small> {% widthratio prod_rec.score 1 100 %} % match </small></h4>
                            <p class="card-subtitle mb-2 text-muted">{{ prod_rec.name }}</p>
                        </div>
                </div>
                {% endfor %}
            </div>
            <h4 class="row mt-4">Productos complementarios</h4>
            <div class="row">
                {% for prod_rec in prod.related_products %}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                            <img src="{% static prod_rec.img_name %}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                            <h4>Producto {{ forloop.counter }}: <small> {% widthratio prod_rec.score 1 100 %} % match </small></h4>
                            <p>{{ prod_rec.name }}</p>
                            </div>
                    </div>
                {% endfor %}
            </div>    
            <h3 class="text-center mt-4">¡Nosotros te diremos que productos poner aquí!</h3> 
        </div>
    </section>
{% endfor %}
{% endblock %}
