{% block products %}
<!-- ======= Featured Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title">
            <span>Como Funciona</span>
            <h2>Como Funciona</h2>
            <p> Problemas complejos, soluciones sofisticadas </p>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-bot"></i></div>
                <h4><a href="">Tus datos, seguros.<small class="soon"></small></a></h4>
                <p>Nuestros robots leen tu data y aprenden de ella, 
                    pero nadie en nuestro equipo puede ver tus transacciones. 
                    Además, contamos con toda la seguridad de Google 
                    Cloud Platform para que 
                    tu data se mantenga confidencial.</p>
                   <!-- Nuestros robots leen tu data y aprenden de ella, 
                    pero nadie en nuestro equipo puede ver tus transacciones. -->
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-network-chart"></i></div>
                <h4><a href="">A recomendar<br></a></h4>
                <p>Aquí es donde la magia ocurre, nuestros algoritmos
                    usan tu data para predecir que productos son los
                    que mayor probabilidad tienen de ser comprados 
                    por tus clientes para así mostrarselos en momentos 
                    clave del proceso de compra y mejorar la conversión.</p>
            </div>
           <!-- Integramos tu página con nuestra api de recomendaciones personalizadas.-->
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-happy"></i></div>
                <h4><a href="">Cliente feliz<br></a></h4>
                <p>Asistimos a tus clientes haciendo más fácil de 
                    encontrar los productos que buscaban, 
                    mientras que tu eCommerce aumenta las ventas</p>
            </div>
           <!-- Te ayudamos a ayudar a tu cliente a encontrar ese producto que necesita..-->
        </div>
    </div>
    </div>
</section>
{% endblock %}