{% block products %}
<!-- ======= Featured Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title">
            <span>Servicios</span>
            <h2>Servicios</h2>
            <p> Problemas complejos, soluciones sofisticadas </p>
        </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bxs-cart"></i></div>
                <h4><a href="">Tailor<small class="soon"><div id="countdown"></div></small></a></h4>
                <p>Entendemos el comportamiento de tus clientes para poder hacer recomendaciones significativas 4% - 6%</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bxs-spreadsheet"></i></div>
                <h4><a href="">StockApp <br><small class="soon">(pronto)</small></a></h4>
                <p>Optimizamos tus compras futuras analizando tu data historica de ventas.
                    No más sobre stock ni dolores de cabeza  </p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}