{% block products %}
<!-- ======= Featured Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title">
            <span>Como Funciona</span>
            <h2>Como Funciona</h2>
            <p> Problemas complejos, soluciones sofisticadas </p>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-bot"></i></div>
                <h4><a href="">Conecta tu eCommerce<small class="soon"></small></a></h4>
                <p>Conecta tu eCommerce de forma segura. Nuestros robots leen tu data y aprenden de ella, 
                    pero nadie en nuestro equipo puede ver tus transacciones.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-network-chart"></i></div>
                <h4><a href="">Configura tu página de recomendaciones <br></a></h4>
                <p>Integramos tu plataforma para que en cada item subido al carrito aparezcan recomendaciones personalizadas. Tranquilo, esto lo hemos nosotros. ¡Es gratis!</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-happy"></i></div>
                <h4><a href="">Cliente feliz, eCommerce feliz<br></a></h4>
                <p>Te ayudamos a ayudar a tu cliente a encontrar ese producto que necesita.</p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}