{% block services %}
<section id="featured-services" class="featured-services">
    <div class="container">
        <div class="row">
            <div  class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div  class="icon-box">
                <div class="icon"><i class="icofont-computer"></i></div>
                    <h5 class="title">Data Science as a Service</h5>
                    <p  class="description text-justify">
                    Sabemos que el mundo de la estadística y programación es complejo, 
                    pagar a un data scientist es caro y manejar un equipo técnico puede ser muy desafiante.
                    Nuestra plataforma soluciona todo lo anterior.</p>
            </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
              <div class="icon-box">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h5 class="title">Inteligencia Artificial</h5>
                    <p  class="description text-justify">Usamos algoritmos de Inteligencia artificial para solucionar problemas complejos, 
                    no encontraste una solución a tu problema? contáctanos.</p>
                </div>
            </div>
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h5 class="title">Seguridad ante todo</h5>
                    <p class="description text-justify">Los datos son tuyos y nadie de nuestro equipo tiene acceso, 
                        se almacenan en Google Cloud Platform para entrenar los modelos 
                        y son borrados luego de obtener el output.</p>
                </div>
            </div>
        </div>
</section>
{% endblock %}