pylint==2.7.2
pylint-django==2.4.2
Django==3.1.4
djangorestframework==3.12.2
django-cors-headers==3.7.0
django-extensions==3.1.1
django-crispy-forms==1.10.0
django-rename-app==0.1.2
psycopg2-binary>=2.8
django-environ==0.4.5
google-cloud-storage==1.35.0
gcsfs==0.7.1
xlrd==2.0.1
openpyxl==3.0.5
gunicorn==20.0.4
whitenoise==5.2.0
python-dotenv==0.15.0
oauth2.3==1.5.211
WooCommerce==3.0.0
glob2==0.7
tqdm==4.59.0
pylint-django==2.4.2
beautifulsoup4==4.9.3
requests==2.25.1
django-heroku==0.3.1
django-cryptography==1.0
django-webpack-loader==0.7.0
zeep==4.0.0
dj-database-url==0.5.0

