Django==3.1.4
djangorestframework==3.12.2
django-cors-headers==3.7.0
django-extensions==3.1.1
django-crispy-forms==1.10.0
django-rename-app==0.1.2
psycopg2-binary>=2.8
pandas==1.2.0
django-environ==0.4.5
google-cloud-storage==1.35.0
gcsfs==0.7.1
xlrd==2.0.1
openpyxl==3.0.5
gunicorn==20.0.4
whitenoise==5.2.0
python-dotenv==0.15.0
oauth2.3==1.5.211
WooCommerce==2.1.1
glob2==0.7
tqdm==4.59.0