[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=cactus
Group=www-data
EnvironmentFile=/usr/local/CactusCo/cactusco/.env
WorkingDirectory=/usr/local/CactusCo
ExecStart=/usr/local/CactusCo/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock cactusco.wsgi:application

[Install]
WantedBy=multi-user.target