[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=landing
Group=www-data
EnvironmentFile=/usr/local/landing_cactusco/cactusco/.env
WorkingDirectory=/usr/local/landing_cactusco
ExecStart=/usr/local/landing_cactusco/.venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock cactusco.wsgi:application

[Install]
WantedBy=multi-user.target