/*By Rorro, Mic Drop.*/

#cactusContainer{
    display: block;
}

#cactusContainer .slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#cactusContainer .title h2{
    font-weight: 300;
    color: #d7b766;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 0 !important;
}

#cactusContainer .slide-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 380px;
    position: relative;
    max-width: 1400px;
}

#cactusContainer .slide-box .slide{
    display: flex;
    position: relative;
    left: 0;
    padding: 5px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#cactusContainer .slide::-webkit-scrollbar {
    display: none;
  }

  #cactusContainer .slide-box .product:last-child {
    margin-right: 0;
  }  

  #cactusContainer .product {
    width:200px; 
    min-width:200px;
    height: 330px;
    border: 1px solid;
    border-color: #ebebeb;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	margin-right: 10px;
    position: relative;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #cactusContainer .product:hover {
    border-color: #d7b766;
}

#cactusContainer .product img {
    height: 240px;
	width: 200px;
	object-fit: cover;
	box-sizing: border-box;
    border-radius: 5px 5px 0px 0px;
    /*border-color: #ebebeb;
    border: 1px solid;*/
}

#cactusContainer .product .product-name{
    font-size: 15px;
    font-weight: 600;
    color: #d7b766;
	letter-spacing: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
}

#cactusContainer .product .product-name:hover {
    text-decoration: underline;
}

#cactusContainer .product-price-box{
    bottom: 0;
    margin-bottom: 7px;
    display:flex;
    flex-direction: column;
}

#cactusContainer .product .product-price {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: black;
    text-align: center;
    
}

#cactusContainer .product .product-compared-price {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: gray;
    text-align: center;
    text-decoration: line-through;
}

#cactusContainer .product-discount {
    position:absolute;
    font-size: 17px;
    background-color: #d7b766;
    color: white;
    top: 0;
    right: 0;
    margin: 7px 7px 0 0;
    border-radius: 30px;
    padding: 2px 10px 2px 10px;
}

#cactusContainer .ctrl-btn {
    padding: 10px 10px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    font-size: 15px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid;
    border-radius: 9999px;
    border-color: #ebebeb;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin: 5px;
    color: #d7b766;
}

#cactusContainer .ctrl-btn:hover {
    color: #d7b766;
    border-color: #d7b766;
}
  
@media only screen and (max-width: 600px) {
    #cactusContainer .ctrl-btn {
        display: none;
    }
} 

/* ----- start button ----- */

.scroll-to-rp-button {
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border: 1px solid;
    border-radius: 5px;
    border-color: #ebebeb;
    width: 220px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    --tw-bg-opacity: 1;
    background-color: white;
    font-weight: 600;
    color: #d7b766;
    margin: 5px 0px 5px 0px;
}

.scroll-to-rp-button:hover{
    --tw-bg-opacity: 1;
    background-color: #404040;
    text-decoration: none;
    color: white;
}

/* ----- a/b test ----- */

#related-products {
    display:none;
}

