/*By Rorro, Mic Drop.*/

header .site-header {
    width: auto;
}

#cactusContainer{
    display: block;
}

#cactusContainer .cross-sell-slider {
    /*display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;*/
    font-family: "Montserrat", Sans-serif;
    text-align: center;
    width: 100%;
    height: 400px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

#cactusContainer .slider::-webkit-scrollbar {
    display: none;
  }

#cactusContainer .cross-sell-title h2{
    font-weight: 600;
    color: #333333;
    font-size: 25px;
    letter-spacing: 0.5px;
}

#cactusContainer .cross-sell-slide {
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: "Montserrat", Sans-serif;
    position: relative;
    */
    display: flex;
    position: absolute;
    left: 0;
}


#cactusContainer .slider .cross-sell-product:last-child {
    margin-right: 0;
  }  

  #cactusContainer .cross-sell-product {
    width:200px;
    height: 320px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin-right: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

#cactusContainer .cross-sell-product img {
    height: 200px;
	width: 200px;
	object-fit: cover;
	box-sizing: border-box;
    /*border: 1px solid;
    border-radius: 10px;
    border-color: #ebebeb;*/

}

#cactusContainer .cross-sell-product .product-name {
    font-size: 15px;
    font-weight: 350;
    color:#222222;
	letter-spacing: 0.5px;
    margin: 5px;
  }

#cactusContainer .cross-sell-product .product-price {
    font-weight: 600;
    color: #333333;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

#cactusContainer .product-price-box{
    bottom: 0;
}

#cactusContainer .ctrl-btn {
    padding: 10px 10px;
    min-width: 50px;
    background: #fff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border: 1px solid;
    border-radius: 10px;
    border-color: #ebebeb;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
  
    position: absolute;
    top: 55%;
    margin-top: -27.5px;
  }
  
#cactusContainer .ctrl-btn.pro-prev {
    left: 0;
  }
  
  #cactusContainer .ctrl-btn.pro-next {
    right: 0;
  }
  