{% extends 'main.html' %}

{% block content %}
<br><br><br>
<section class="pt-4 pt-md-11">
    <div class="container">
        <h1 class="">Seleccione los campos correspondientes</h1>
        <p>Para poder modelar correctamente la data, necesitamos que se configuren correctamente los campos del archivo enviado. Tienes que hacer match en los siguientes cambios: Fecha, Código de producto y Cantidad de unidades vendidas. El campo de fecha debe ser a nivel de día por lo menos (si está por hora, minutos o segundo no hay problema).</p>
        <br><br><br><br>
        <form class="card" method="post" enctype="multipart/form-data">
        <div class="card-body">
            
                <form method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                </form>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>
    </div>
</section>
</body>
</html>
{% endblock %}