{% extends "main.html" %}

{% block content %}

<section id="login" class="pt-6 pt-md-11">
    <div class="container">
        <div class="section-title">
            <h2>Iniciar sesión</h2>
        </div>
        <form class="login-card "  method="post" enctype="multipart/form-data">
            <div class="card-body" >
                {% csrf_token %}
                <div class="form-row">
                    <div class="login-form form-group text-left">
                        <label for="username">Email</label>
                        {{ form.username }}
                    </div>
                    <div class="login-form form-group text-left">
                        <label for="password" class="text-left">Password</label>
                        {{ form.password }}
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
            </div>
            <div class="email">
                <p>Para solicitar una demo envíanos 
                    un mail a <a href="mailto:contacto@cactusco.cl?subject=Solicitud demo">contacto@cactusco.cl</a></p>
            </div>
        </form>
    </div> 
</section>

{% endblock %}
