[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=sammy
Group=www-data
EnvironmentFile=/usr/local/stockapp/invetory_test/.env
WorkingDirectory=/usr/local/stockapp
ExecStart=/usr/local/stockapp/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          invetory_test.wsgi:application

[Install]
WantedBy=multi-user.target