{% block welcome %}
<!-- ======= Sidebar para despues =======
<div class="sidebar">
    <a href="Home">Home</a>
    <a href=""></a>
</div>
 -->
<section id="login" class="pt-6 pt-md-11">
<div class="container">
    <div class="container">
        <div class="section-title">
            <h2>Área de usuario</h2>
        </div>
    <p>
        Bienvenido <strong class="capitalize">{{ request.user.name }}</strong>, 
        esta página es exclusiva para usuarios registrados.
    </p>

    {% if has_submitted %}
        <span class="alert">Tu archivo ha sido subido a nuestra base de datos</span>
    {% endif %}
    <br>
    <form method="post" enctype="multipart/form-data" action="{% url 'field_selection' %}" style="width: 24rem;">
        {% csrf_token %}
        {{ form.document }}
        <br>
        <div class=>    
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>
    <div style="text-align: right;">
        <a class="get-started-btn" href="/accounts/password_change/">Cambiar clave</a>
    </div>
    <hr />
</div>
</section>
{% endblock %}