{% block header %}

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/">Cactus Co.</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#services">Como Funciona</a></li>
          <li><a href="#contact" class="c-button__secondary">Contáctanos</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#contact" class="get-started-btn scrollto">Get Started</a> -->

    </div>
  </header><!-- End Header -->
{% endblock %}