{% extends "main.html" %}

{% block content %}
<section id="thanks">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ message }}</h1>
            <p class="lead">Alguien de nuestro equipo se contactara contigo lo antes posible.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Volver al inicio</a>
            </p>
        </div>
    </div>
  </div>
</section>
{% endblock %}